<a href="https://colab.research.google.com/github/edinaldoab/OnePieceDataScrapping/blob/master/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tratamento dos dados e an치lise explorat칩ria



---

In [128]:
!rm -rf previsao_remuneracao/
!git clone https://github.com/edinaldoab/previsao_remuneracao.git

Cloning into 'previsao_remuneracao'...
remote: Enumerating objects: 32127, done.
remote: Counting objects: 100% (1413/1413), done.
remote: Compressing objects: 100% (1030/1030), done.
remote: Total 32127 (delta 368), reused 1366 (delta 341), pack-reused 30714
Receiving objects: 100% (32127/32127), 432.72 MiB | 24.74 MiB/s, done.
Resolving deltas: 100% (6910/6910), done.

## Instala칞칚o do PySpark

In [129]:
# instalar as depend칡ncias
!apt-get update -qq
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz
!pip install -q findspark

In [130]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [131]:
import findspark
findspark.init()

### [SparkSession](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.SparkSession.html)

O ponto de entrada para programar o Spark com a API Dataset e DataFrame.

Uma SparkSession pode ser utilizada para criar DataFrames, registrar DataFrames como tabelas, executar consultas SQL em tabelas, armazenar em cache e ler arquivos parquet. Para criar uma SparkSession, use o seguinte padr칚o de construtor:

In [133]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Tratamento dos dados de vagas do GD") \
    .getOrCreate()

## Carregamento dos Dados

## Leitura do dataset

In [135]:
dados = spark.read.csv('/content/OnePieceDataScrapping/full_dataset/one_piece_eps.csv', header=True, multiLine=True, escape='"')

In [136]:
dados.count()

757

In [137]:
dados.show(5)

+--------------------+-------+---------+----------------+--------------------+
|               title|upvotes|downvotes|comments_counted|         released_on|
+--------------------+-------+---------+----------------+--------------------+
|E62 - The First L...|   4.4K|       43|    555 Comments|Released on Mar 8...|
|E63 - A Promise B...|   3.1K|       24|    511 Comments|Released on Mar 8...|
|E64 - A Town That...|   3.3K|       31|    542 Comments|Released on Mar 1...|
|E65 - Explosion! ...|     3K|       24|    495 Comments|Released on Mar 1...|
|E66 - All-out Bat...|   2.9K|       29|    506 Comments|Released on Mar 1...|
+--------------------+-------+---------+----------------+--------------------+
only showing top 5 rows

## An치lise e tratamento de Dados

Nova coluna de id's:

In [143]:
from pyspark.sql.functions import split, regexp_replace

In [145]:
dados = dados\
    .withColumn('id', split(dados['title'],' - ')[0])

In [146]:
dados.show(3)

+--------------------+-------+---------+----------------+--------------------+---+
|               title|upvotes|downvotes|comments_counted|         released_on| id|
+--------------------+-------+---------+----------------+--------------------+---+
|E62 - The First L...|   4.4K|       43|    555 Comments|Released on Mar 8...|E62|
|E63 - A Promise B...|   3.1K|       24|    511 Comments|Released on Mar 8...|E63|
|E64 - A Town That...|   3.3K|       31|    542 Comments|Released on Mar 1...|E64|
+--------------------+-------+---------+----------------+--------------------+---+
only showing top 3 rows

In [147]:
dados = dados\
    .withColumn('id', regexp_replace(dados['id'], 'E', ''))

In [148]:
dados.show(3)

+--------------------+-------+---------+----------------+--------------------+---+
|               title|upvotes|downvotes|comments_counted|         released_on| id|
+--------------------+-------+---------+----------------+--------------------+---+
|E62 - The First L...|   4.4K|       43|    555 Comments|Released on Mar 8...| 62|
|E63 - A Promise B...|   3.1K|       24|    511 Comments|Released on Mar 8...| 63|
|E64 - A Town That...|   3.3K|       31|    542 Comments|Released on Mar 1...| 64|
+--------------------+-------+---------+----------------+--------------------+---+
only showing top 3 rows

In [151]:
dados.printSchema()

root
 |-- title: string (nullable = true)
 |-- upvotes: string (nullable = true)
 |-- downvotes: string (nullable = true)
 |-- comments_counted: string (nullable = true)
 |-- released_on: string (nullable = true)
 |-- id: string (nullable = true)

In [152]:
from pyspark.sql.types import IntegerType

In [153]:
dados = dados.withColumn('id', dados['id'].cast(IntegerType()))

In [154]:
dados.columns

['title', 'upvotes', 'downvotes', 'comments_counted', 'released_on', 'id']

In [157]:
dados = dados\
    .select('id', 'title', 'upvotes', 'downvotes', 'comments_counted', 'released_on')\
    .sort('id')

In [159]:
dados.show(5)

+---+--------------------+-------+---------+-----------------+--------------------+
| id|               title|upvotes|downvotes| comments_counted|         released_on|
+---+--------------------+-------+---------+-----------------+--------------------+
|  1|E1 - Eu Sou Luffy...|  37.6K|     1.1K|2.043 Coment치rios|Lan칞ado em 1 mar ...|
|  2|E2 - O Grande Esp...|   9.4K|      207|  388 Coment치rios|Lan칞ado em 1 mar ...|
|  3|E3 - Morgan vs. L...|   7.6K|      120|  297 Coment치rios|Lan칞ado em 1 mar ...|
|  4|E4 - O Passado de...|     7K|       80|  228 Coment치rios|Lan칞ado em 1 mar ...|
|  5|E5 - Um Poder Mis...|   5.7K|       74|  337 Coment치rios|Lan칞ado em 1 mar ...|
+---+--------------------+-------+---------+-----------------+--------------------+
only showing top 5 rows

### An치lise e tratamento de `upvotes` e `downvotes`:

In [163]:
from pyspark.sql.functions import when, regexp_replace
from pyspark.sql.types import IntegerType

In [168]:
dados = dados\
    .withColumn('upvotes',
                when(dados['upvotes'].contains('K'),
                     regexp_replace(dados['upvotes'], 'K', '').cast(IntegerType())*1000)\
                .otherwise(dados['upvotes'].cast(IntegerType())))

In [169]:
dados = dados\
    .withColumn('downvotes',
                when(dados['downvotes'].contains('K'),
                     regexp_replace(dados['downvotes'], 'K', '').cast(IntegerType())*1000)\
                .otherwise(dados['downvotes'].cast(IntegerType())))

In [170]:
dados.show(5)

+---+--------------------+-------+---------+-----------------+--------------------+
| id|               title|upvotes|downvotes| comments_counted|         released_on|
+---+--------------------+-------+---------+-----------------+--------------------+
|  1|E1 - Eu Sou Luffy...|  37000|     1000|2.043 Coment치rios|Lan칞ado em 1 mar ...|
|  2|E2 - O Grande Esp...|   9000|      207|  388 Coment치rios|Lan칞ado em 1 mar ...|
|  3|E3 - Morgan vs. L...|   7000|      120|  297 Coment치rios|Lan칞ado em 1 mar ...|
|  4|E4 - O Passado de...|   7000|       80|  228 Coment치rios|Lan칞ado em 1 mar ...|
|  5|E5 - Um Poder Mis...|   5000|       74|  337 Coment치rios|Lan칞ado em 1 mar ...|
+---+--------------------+-------+---------+-----------------+--------------------+
only showing top 5 rows

**Top 5**: Epis칩dios com mais *upvotes* 游녨:

In [172]:
dados\
    .select('title', 'upvotes')\
    .sort('upvotes', ascending=False)\
    .show(5, truncate=False)

+---------------------------------------------------------------------+-------+
|title                                                                |upvotes|
+---------------------------------------------------------------------+-------+
|E1 - Eu Sou Luffy! Aquele Que Ser치 o Rei dos Piratas!                |37000  |
|E517 - The Beginning of the New Chapter! The Straw Hats Reunited!    |11000  |
|E377 - The Pain of My Crewmates Is My Pain! Zoro's Desperate Fight!  |11000  |
|E326 - The Mysterious Band of Pirates! Sunny and the Dangerous Trap! |11000  |
|E483 - Looking for the Answer! Fire Fist Ace Dies On the Battlefield!|10000  |
+---------------------------------------------------------------------+-------+
only showing top 5 rows

**Top 5**: Epis칩dios com mais *downvotes* 游녩

In [173]:
dados\
    .select('title', 'downvotes')\
    .sort('downvotes', ascending=False)\
    .show(5, truncate=False)

+-------------------------------------------------------------+---------+
|title                                                        |downvotes|
+-------------------------------------------------------------+---------+
|E1 - Eu Sou Luffy! Aquele Que Ser치 o Rei dos Piratas!        |1000     |
|E216 - Showdown On the Cliff! Red Light, Green Light!        |237      |
|E674 - A Liar! Usoland on the Run!                           |237      |
|E542 - A Team is Formed! Save Chopper                        |220      |
|E2 - O Grande Espadachim! O Ca칞ador de Piratas, Roronoa Zoro!|207      |
+-------------------------------------------------------------+---------+
only showing top 5 rows

In [174]:
dados.show(5)

+---+--------------------+-------+---------+-----------------+--------------------+
| id|               title|upvotes|downvotes| comments_counted|         released_on|
+---+--------------------+-------+---------+-----------------+--------------------+
|  1|E1 - Eu Sou Luffy...|  37000|     1000|2.043 Coment치rios|Lan칞ado em 1 mar ...|
|  2|E2 - O Grande Esp...|   9000|      207|  388 Coment치rios|Lan칞ado em 1 mar ...|
|  3|E3 - Morgan vs. L...|   7000|      120|  297 Coment치rios|Lan칞ado em 1 mar ...|
|  4|E4 - O Passado de...|   7000|       80|  228 Coment치rios|Lan칞ado em 1 mar ...|
|  5|E5 - Um Poder Mis...|   5000|       74|  337 Coment치rios|Lan칞ado em 1 mar ...|
+---+--------------------+-------+---------+-----------------+--------------------+
only showing top 5 rows

## Tratamento da coluna `comments_counted`:

In [176]:
dados = dados.withColumn('comments_counted', regexp_replace('comments_counted', '[^0-9]',''))

In [177]:
dados = dados.withColumn('comments_counted', dados['comments_counted'].cast(IntegerType()))

In [178]:
dados.show(5)

+---+--------------------+-------+---------+----------------+--------------------+
| id|               title|upvotes|downvotes|comments_counted|         released_on|
+---+--------------------+-------+---------+----------------+--------------------+
|  1|E1 - Eu Sou Luffy...|  37000|     1000|            2043|Lan칞ado em 1 mar ...|
|  2|E2 - O Grande Esp...|   9000|      207|             388|Lan칞ado em 1 mar ...|
|  3|E3 - Morgan vs. L...|   7000|      120|             297|Lan칞ado em 1 mar ...|
|  4|E4 - O Passado de...|   7000|       80|             228|Lan칞ado em 1 mar ...|
|  5|E5 - Um Poder Mis...|   5000|       74|             337|Lan칞ado em 1 mar ...|
+---+--------------------+-------+---------+----------------+--------------------+
only showing top 5 rows

**Top 5**: Epis칩dios mais comentados:

In [181]:
dados\
    .select('title', 'comments_counted')\
    .sort('comments_counted', ascending=False)\
    .show(5, truncate=False)

+---------------------------------------------------------------------+----------------+
|title                                                                |comments_counted|
+---------------------------------------------------------------------+----------------+
|E1 - Eu Sou Luffy! Aquele Que Ser치 o Rei dos Piratas!                |2043            |
|E483 - Looking for the Answer! Fire Fist Ace Dies On the Battlefield!|2037            |
|E312 - Thank You, Merry! Snow Falls Over the Parting Sea!            |1948            |
|E516 - Luffy's Training Begins! To the Place We Promised in 2 Years! |1919            |
|E327 - Sunny in a Pinch! Roar, Secret Superspeed Mecha!              |1503            |
+---------------------------------------------------------------------+----------------+
only showing top 5 rows

## Tratamento da coluna `released_on`:

In [185]:
dados\
    .withColumn('released_on', when(dados['released_on'].contains('Lan칞ado em '), regexp_replace(dados['released_on'],'Lan칞ado em ','')))\
    .show()

+---+--------------------+-------+---------+----------------+-----------+
| id|               title|upvotes|downvotes|comments_counted|released_on|
+---+--------------------+-------+---------+----------------+-----------+
|  1|E1 - Eu Sou Luffy...|  37000|     1000|            2043| 1 mar 2014|
|  2|E2 - O Grande Esp...|   9000|      207|             388| 1 mar 2014|
|  3|E3 - Morgan vs. L...|   7000|      120|             297| 1 mar 2014|
|  4|E4 - O Passado de...|   7000|       80|             228| 1 mar 2014|
|  5|E5 - Um Poder Mis...|   5000|       74|             337| 1 mar 2014|
|  6|E6 - Situa칞칚o Des...|   5000|       73|             203| 1 mar 2014|
|  7|E7 - Grande Duelo...|   5000|       54|             223| 1 mar 2014|
|  8|E8 - Quem Vencer치...|   5000|       51|             205| 1 mar 2014|
|  9|E9 - Um Mentiroso...|   5000|       55|             146| 1 mar 2014|
| 10|E10 - O Homem Mai...|   4000|       53|             212| 1 mar 2014|
| 11|E11 - A Conspira칞...|   4000|       67|             198| 1 mar 2014|
| 12|E12 - Batalha Con...|   3000|       53|             183| 1 mar 2014|
| 13|E13 - A Dupla Ter...|   3000|       39|             175| 1 mar 2014|
| 14|E14 - O Retorno d...|   3000|       51|             138| 1 mar 2014|
| 15|E15 - Derrotem Ku...|   3000|       57|             198| 1 mar 2014|
| 16|E16 - Protejam Ka...|   3000|       45|             168| 1 mar 2014|
| 17|E17 - Explos칚o de...|   4000|       40|             178| 1 mar 2014|
| 18|E18 - Voc칡 칠 um A...|   4000|       52|             137| 1 mar 2014|
| 19|E19 - O Passado d...|   4000|       43|             168| 1 mar 2014|
| 20|E20 - O Famoso Co...|   3000|       37|             122| 1 mar 2014|
+---+--------------------+-------+---------+----------------+-----------+
only showing top 20 rows

Ao explodir o intervalo de sal치rios, surgem duas possibilidades para os splits que geraram `split_size == 3`:

> *   **Valor fixo**
        Ex.: '$60 per hour' -> ['$60','per','hour']

> Neste caso, opta-se em atribuir o mesmo valor m칤nimo ao valor m치ximo, para n칚o se ter impacto no c치lculo futuro do sal치rio m칠dio.

> *   **com valor m칤nimo e com valor m치ximo**
        Ex.: '$75T - $1L' -> ['$75T','-','$1L']

In [ ]:
dados = dados\
    .select('*')\
    .withColumn('split_size', size(split(dados['salary_estimate'], ' ')))

In [ ]:
dados.printSchema()

root
 |-- company: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- location: string (nullable = true)
 |-- job_description: string (nullable = true)
 |-- salary_estimate: string (nullable = true)
 |-- company_size: string (nullable = true)
 |-- company_type: string (nullable = true)
 |-- company_sector: string (nullable = true)
 |-- company_industry: string (nullable = true)
 |-- company_founded: string (nullable = true)
 |-- company_revenue: string (nullable = true)
 |-- split_size: integer (nullable = false)

In [ ]:
from pyspark.sql.functions import when, lit,concat

In [ ]:
dados.withColumn('salary_estimate', 
                 when(dados['split_size'] == 1, 
                      concat(dados['salary_estimate'], lit(' - '), dados['salary_estimate'])
                     ).otherwise(dados['salary_estimate'])
                )\
                .filter(dados['split_size'] == 1)\
                .toPandas()

,company,job_title,location,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,split_size
0,VirginPulse,Data Engineer I,Remote,Overview:\nNow is the time to join us!\nAt Vir...,$80T - $80T,1001 to 5000 Employees,Company - Private,Information Technology,Computer Hardware Development,2004,$25 to $50 million (USD),1
1,FocuzMindz,"AWS Data Architect/ Engineer with Redshift, RDS","Alexandria, VA",We are seeking an AWS Data Engineer to join ou...,$2L - $2L,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,1
2,FocuzMindz,"AWS Data Architect/ Engineer with Redshift, RDS","Alexandria, VA",We are seeking an AWS Data Engineer to join ou...,$2L - $2L,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,1
3,Fiable Consulting,Data and Knowledge Engineer,Remote,"REQUIRED\nPython, Data Pipelines/ETL, Apache N...",$56T - $56T,51 to 200 Employees,Company - Private,Information Technology,Information Technology Support Services,2017,Unknown / Non-Applicable,1
4,Talent Group,Sr. Data Engineer- BHS,Remote,Job Description :\nMust have Behavioral Health...,$1L - $1L,1 to 50 Employees,Company - Public,Media & Communication,Broadcast Media,#N/A,Less than $1 million (USD),1
5,FocuzMindz,"AWS Data Architect/ Engineer with Redshift, RDS","Alexandria, VA",We are seeking an AWS Data Engineer to join ou...,$2L - $2L,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,1

In [ ]:
dados = dados.withColumn('salary_estimate', 
                 when(dados['split_size'] == 1, 
                      concat(dados['salary_estimate'], lit(' - '), dados['salary_estimate'])
                     ).otherwise(dados['salary_estimate'])
                )

In [ ]:
dados\
    .withColumn('min_salary', split(dados['salary_estimate'], ' ')[0])\
    .withColumn('max_salary',
                when(split(dados['salary_estimate'], ' ')[1] == 'Per', split(dados['salary_estimate'], ' ')[0])\
                .otherwise(split(dados['salary_estimate'], ' ')[2]))\
    .withColumn("multiplicador", when(dados['salary_estimate'].contains('Per hour'), 'Per hour').otherwise('Per year'))\
    .select('salary_estimate', 'min_salary', 'max_salary')\
    .show()

+--------------------+----------+----------+
|     salary_estimate|min_salary|max_salary|
+--------------------+----------+----------+
|$65.00 - $75.00 P...|    $65.00|    $75.00|
|$90.00 - $120.00 ...|    $90.00|   $120.00|
|$55.00 - $85.00 P...|    $55.00|    $85.00|
|$60.00 - $68.00 P...|    $60.00|    $68.00|
|$45.00 - $50.00 P...|    $45.00|    $50.00|
|           $1L - $2L|       $1L|       $2L|
|$65.00 - $70.00 P...|    $65.00|    $70.00|
|$65.00 - $75.00 P...|    $65.00|    $75.00|
|$50.00 - $80.00 P...|    $50.00|    $80.00|
|          $87T - $1L|      $87T|       $1L|
|$60.00 - $65.00 P...|    $60.00|    $65.00|
|     $73.00 Per hour|    $73.00|    $73.00|
|          $75T - $1L|      $75T|       $1L|
|$60.00 - $65.00 P...|    $60.00|    $65.00|
|           $1L - $3L|       $1L|       $3L|
|           $1L - $2L|       $1L|       $2L|
|           $1L - $1L|       $1L|       $1L|
|          $84T - $1L|      $84T|       $1L|
|          $97T - $1L|      $97T|       $1L|
|$55.00 - $65.00 P...|    $55.00|    $65.00|
+--------------------+----------+----------+
only showing top 20 rows

In [ ]:
dados = dados\
    .withColumn('min_salary', split(dados['salary_estimate'], ' ')[0])\
    .withColumn('max_salary',
                when(split(dados['salary_estimate'], ' ')[1] == 'Per', split(dados['salary_estimate'], ' ')[0])\
                .otherwise(split(dados['salary_estimate'], ' ')[2]))\
    .withColumn("multiplicador", when(dados['salary_estimate'].contains('Per hour'), 'Per hour').otherwise('Per year'))

In [ ]:
from pyspark.sql.functions import regexp_replace
from pyspark.sql.types import DoubleType

Limpando os caracteres `$`:

In [ ]:
dados = dados\
    .withColumn('min_salary_sem', regexp_replace(dados['min_salary'], '^\$', ''))\
    .withColumn('max_salary_sem', regexp_replace(dados['max_salary'], '^\$', ''))\
    .drop('min_salary')\
    .drop('max_salary')

In [ ]:
dados.limit(5).toPandas()

,company,job_title,location,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,split_size,multiplicador,min_salary_sem,max_salary_sem
0,DataPattern,Sr. Data Engineer,"Los Angeles, CA",Responsibilities\n餃 Contribute to the design a...,$65.00 - $75.00 Per hour,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,5,Per hour,65.00,75.00
1,YT Global Network,Data Engineer- Remote,Remote,Data Engineer- Remote\nRole: Data and Analytic...,$90.00 - $120.00 Per hour,Unknown,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,5,Per hour,90.00,120.00
2,Wevision LLC,Data Engineer,"Irvine, CA","Job description\nWe build services, data platf...",$55.00 - $85.00 Per hour,1 to 50 Employees,Company - Private,#N/A,#N/A,#N/A,Unknown / Non-Applicable,5,Per hour,55.00,85.00
3,kairos technologies,Data Engineer,"Boston, MA",Job Title: Data Engineer with AWS Hybrid\nLo...,$60.00 - $68.00 Per hour,51 to 200 Employees,Company - Private,Information Technology,Information Technology Support Services,2003,$5 to $25 million (USD),5,Per hour,60.00,68.00
4,Konnectingtree,Data Engineer,Remote,Greetings from KonnectingTree!\nWe are looking...,$45.00 - $50.00 Per hour,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,5,Per hour,45.00,50.00

Aplicando os multiplicadores $L = 10^{5}$ e $T=10^{3}$ nos sal치rios:

In [ ]:
dados\
    .withColumn('min_salary',
                when(dados['min_salary_sem'].contains('L'),
                     regexp_replace(dados['min_salary_sem'], 'L', '').cast(DoubleType())*100000)\
                .otherwise(dados['min_salary_sem']))\
    .withColumn('max_salary',
                when(dados['max_salary_sem'].contains('L'),
                     regexp_replace(dados['max_salary_sem'], 'L', '').cast(DoubleType())*100000)\
                .otherwise(dados['max_salary_sem']))\
    .toPandas()

,company,job_title,location,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,split_size,multiplicador,min_salary_sem,max_salary_sem,min_salary,max_salary
0,DataPattern,Sr. Data Engineer,"Los Angeles, CA",Responsibilities\n餃 Contribute to the design a...,$65.00 - $75.00 Per hour,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,5,Per hour,65.00,75.00,65.00,75.00
1,YT Global Network,Data Engineer- Remote,Remote,Data Engineer- Remote\nRole: Data and Analytic...,$90.00 - $120.00 Per hour,Unknown,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,5,Per hour,90.00,120.00,90.00,120.00
2,Wevision LLC,Data Engineer,"Irvine, CA","Job description\nWe build services, data platf...",$55.00 - $85.00 Per hour,1 to 50 Employees,Company - Private,#N/A,#N/A,#N/A,Unknown / Non-Applicable,5,Per hour,55.00,85.00,55.00,85.00
3,kairos technologies,Data Engineer,"Boston, MA",Job Title: Data Engineer with AWS Hybrid\nLo...,$60.00 - $68.00 Per hour,51 to 200 Employees,Company - Private,Information Technology,Information Technology Support Services,2003,$5 to $25 million (USD),5,Per hour,60.00,68.00,60.00,68.00
4,Konnectingtree,Data Engineer,Remote,Greetings from KonnectingTree!\nWe are looking...,$45.00 - $50.00 Per hour,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,5,Per hour,45.00,50.00,45.00,50.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,Konnectingtree,Data Engineer,Remote,Greetings from KonnectingTree!\nWe are looking...,$45.00 - $50.00 Per hour,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,5,Per hour,45.00,50.00,45.00,50.00
399,FlexIT Inc,Data Science Engineer,"Beaverton, OR",We are looking for strong experience in Python...,$83T - $1L,1 to 50 Employees,Company - Private,#N/A,#N/A,#N/A,Unknown / Non-Applicable,3,Per year,83T,1L,83T,100000.0
400,Ascendion,Senior Data Engineer,Remote,Responsibilities:\n8+ years professional exper...,$60.00 - $70.00 Per hour,1001 to 5000 Employees,Company - Private,Information Technology,Software Development,2022,Unknown / Non-Applicable,5,Per hour,60.00,70.00,60.00,70.00
401,Findability Sciences,Snowflake Data Engineer pipeline,"Houston, TX",Snowflake data engineers will be responsible f...,$42.14 - $70.29 Per hour,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,5,Per hour,42.14,70.29,42.14,70.29
402,Edrstaffing,Python Data Engineer,"Boston, MA",Great opportunity to join a dynamic company on...,$90T - $2L,#N/A,#N/A,#N/A,#N/A,#N/A,#N/A,3,Per year,90T,2L,90T,200000.0

In [ ]:
dados = dados\
    .withColumn('min_salary',
                when(dados['min_salary_sem'].contains('L'),
                     regexp_replace(dados['min_salary_sem'], 'L', '').cast(DoubleType())*100000)\
                .otherwise(dados['min_salary_sem']))\
    .withColumn('max_salary',
                when(dados['max_salary_sem'].contains('L'),
                     regexp_replace(dados['max_salary_sem'], 'L', '').cast(DoubleType())*100000)\
                .otherwise(dados['max_salary_sem']))\
    .drop('min_salary_sem')

In [ ]:
dados = dados\
    .drop('max_salary_sem')\
    .drop('min_salary_sem')\
    .drop('split_size')

In [ ]:
dados = dados\
    .withColumn('min_salary_double',
                when(dados['min_salary'].contains('T'),
                     regexp_replace(dados['min_salary'], 'T', '').cast(DoubleType())*1000)\
                .otherwise(dados['min_salary']))\
    .withColumn('max_salary_double',
                when(dados['max_salary'].contains('T'),
                     regexp_replace(dados['max_salary'], 'T', '').cast(DoubleType())*1000)\
                .otherwise(dados['max_salary']))

In [ ]:
dados.limit(5).toPandas()

,company,job_title,location,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,multiplicador,min_salary,max_salary,min_salary_double,max_salary_double
0,DataPattern,Sr. Data Engineer,"Los Angeles, CA",Responsibilities\n餃 Contribute to the design a...,$65.00 - $75.00 Per hour,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,Per hour,65.00,75.00,65.00,75.00
1,YT Global Network,Data Engineer- Remote,Remote,Data Engineer- Remote\nRole: Data and Analytic...,$90.00 - $120.00 Per hour,Unknown,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,Per hour,90.00,120.00,90.00,120.00
2,Wevision LLC,Data Engineer,"Irvine, CA","Job description\nWe build services, data platf...",$55.00 - $85.00 Per hour,1 to 50 Employees,Company - Private,#N/A,#N/A,#N/A,Unknown / Non-Applicable,Per hour,55.00,85.00,55.00,85.00
3,kairos technologies,Data Engineer,"Boston, MA",Job Title: Data Engineer with AWS Hybrid\nLo...,$60.00 - $68.00 Per hour,51 to 200 Employees,Company - Private,Information Technology,Information Technology Support Services,2003,$5 to $25 million (USD),Per hour,60.00,68.00,60.00,68.00
4,Konnectingtree,Data Engineer,Remote,Greetings from KonnectingTree!\nWe are looking...,$45.00 - $50.00 Per hour,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,Per hour,45.00,50.00,45.00,50.00

In [ ]:
dados = dados\
    .drop('min_salary')\
    .drop('max_salary')

In [ ]:
dados.limit(5).toPandas()

,company,job_title,location,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,multiplicador,min_salary_double,max_salary_double
0,DataPattern,Sr. Data Engineer,"Los Angeles, CA",Responsibilities\n餃 Contribute to the design a...,$65.00 - $75.00 Per hour,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,Per hour,65.00,75.00
1,YT Global Network,Data Engineer- Remote,Remote,Data Engineer- Remote\nRole: Data and Analytic...,$90.00 - $120.00 Per hour,Unknown,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,Per hour,90.00,120.00
2,Wevision LLC,Data Engineer,"Irvine, CA","Job description\nWe build services, data platf...",$55.00 - $85.00 Per hour,1 to 50 Employees,Company - Private,#N/A,#N/A,#N/A,Unknown / Non-Applicable,Per hour,55.00,85.00
3,kairos technologies,Data Engineer,"Boston, MA",Job Title: Data Engineer with AWS Hybrid\nLo...,$60.00 - $68.00 Per hour,51 to 200 Employees,Company - Private,Information Technology,Information Technology Support Services,2003,$5 to $25 million (USD),Per hour,60.00,68.00
4,Konnectingtree,Data Engineer,Remote,Greetings from KonnectingTree!\nWe are looking...,$45.00 - $50.00 Per hour,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,Per hour,45.00,50.00

In [ ]:
dados = dados\
    .withColumnRenamed('min_salary_double', 'min_salary')\
    .withColumnRenamed('max_salary_double', 'max_salary')\
    .drop('size_split')

In [ ]:
dados.limit(5).toPandas()

,company,job_title,location,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,multiplicador,min_salary,max_salary
0,DataPattern,Sr. Data Engineer,"Los Angeles, CA",Responsibilities\n餃 Contribute to the design a...,$65.00 - $75.00 Per hour,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,Per hour,65.00,75.00
1,YT Global Network,Data Engineer- Remote,Remote,Data Engineer- Remote\nRole: Data and Analytic...,$90.00 - $120.00 Per hour,Unknown,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,Per hour,90.00,120.00
2,Wevision LLC,Data Engineer,"Irvine, CA","Job description\nWe build services, data platf...",$55.00 - $85.00 Per hour,1 to 50 Employees,Company - Private,#N/A,#N/A,#N/A,Unknown / Non-Applicable,Per hour,55.00,85.00
3,kairos technologies,Data Engineer,"Boston, MA",Job Title: Data Engineer with AWS Hybrid\nLo...,$60.00 - $68.00 Per hour,51 to 200 Employees,Company - Private,Information Technology,Information Technology Support Services,2003,$5 to $25 million (USD),Per hour,60.00,68.00
4,Konnectingtree,Data Engineer,Remote,Greetings from KonnectingTree!\nWe are looking...,$45.00 - $50.00 Per hour,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,Per hour,45.00,50.00

In [ ]:
dados\
    .select('min_salary')\
    .groupBy('min_salary')\
    .count()\
    .sort(desc('count'))\
    .show(100)

dados\
    .select('max_salary')\
    .groupBy('max_salary')\
    .count()\
    .sort(desc('count'))\
    .show(100)

+----------+-----+
|min_salary|count|
+----------+-----+
|  100000.0|   66|
|     65.00|   32|
|     60.00|   31|
|   90000.0|   21|
|     70.00|   20|
|  200000.0|   17|
|   85000.0|   15|
|   95000.0|   15|
|     42.96|   13|
|   73000.0|   12|
|   86000.0|   12|
|     43.82|   11|
|   83000.0|   11|
|   88000.0|   11|
|     73.00|   10|
|    100.00|   10|
|     55.00|   10|
|     80.00|    9|
|     90.00|    8|
|   70000.0|    7|
|   87000.0|    7|
|     50.00|    6|
|   91000.0|    6|
|     39.86|    5|
|   89000.0|    4|
|   80000.0|    4|
|     45.00|    4|
|   96000.0|    3|
|   75000.0|    3|
|     42.14|    3|
|     52.06|    2|
|     72.00|    2|
|   92000.0|    2|
|   55000.0|    2|
|   39000.0|    1|
|   98000.0|    1|
|   54000.0|    1|
|   82000.0|    1|
|   84000.0|    1|
|   69000.0|    1|
|   97000.0|    1|
|   56000.0|    1|
|   59000.0|    1|
+----------+-----+

+----------+-----+
|max_salary|count|
+----------+-----+
|  100000.0|  140|
|  200000.0|   69|
|     70.00|   26|
|     75.00|   20|
|     65.00|   20|
|     80.00|   16|
|     60.00|   15|
|     60.84|   13|
|     66.67|   11|
|     73.00|   10|
|     95.00|    9|
|    120.00|    7|
|   75000.0|    7|
|    125.00|    6|
|     39.86|    5|
|     50.00|    4|
|  300000.0|    4|
|     70.29|    3|
|    103.00|    3|
|   60000.0|    2|
|     69.28|    2|
|     90.00|    2|
|     68.00|    1|
|   80000.0|    1|
|     85.00|    1|
|   72000.0|    1|
|     63.00|    1|
|   58000.0|    1|
|   88000.0|    1|
|    100.00|    1|
|   56000.0|    1|
+----------+-----+

Convertendo os valores de sal치rio para o tipo **double**:

In [ ]:
dados = dados\
    .withColumn('min_salary', dados['min_salary'].cast(DoubleType()))\
    .withColumn('max_salary', dados['max_salary'].cast(DoubleType()))

In [ ]:
dados.printSchema()

root
 |-- company: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- location: string (nullable = true)
 |-- job_description: string (nullable = true)
 |-- salary_estimate: string (nullable = true)
 |-- company_size: string (nullable = true)
 |-- company_type: string (nullable = true)
 |-- company_sector: string (nullable = true)
 |-- company_industry: string (nullable = true)
 |-- company_founded: string (nullable = true)
 |-- company_revenue: string (nullable = true)
 |-- multiplicador: string (nullable = false)
 |-- min_salary: double (nullable = true)
 |-- max_salary: double (nullable = true)

C치lculo final do sal치rio m칠dio (`salary_avg`):

In [ ]:
dados = dados\
    .withColumn('salary_avg', .5*(dados['min_salary'] + dados['max_salary']))\
    .drop('min_salary')\
    .drop('max_salary')\
    .drop('salary_estimate')

Considerando um regime de trabalho de 40h semanais, ou seja 2080 horas trabalhadas no ano, converte-se as m칠dias salarias categorizadas em `'Per hour'`:

In [ ]:
dados = dados\
    .withColumn('salary_avg', when(dados['multiplicador'] == 'Per hour', dados['salary_avg']*2080).otherwise(dados['salary_avg']))\
    .drop('multiplicador')

In [ ]:
dados.limit(10).toPandas()

,company,job_title,location,job_description,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,salary_avg
0,DataPattern,Sr. Data Engineer,"Los Angeles, CA",Responsibilities\n餃 Contribute to the design a...,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,145600.0
1,YT Global Network,Data Engineer- Remote,Remote,Data Engineer- Remote\nRole: Data and Analytic...,Unknown,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,218400.0
2,Wevision LLC,Data Engineer,"Irvine, CA","Job description\nWe build services, data platf...",1 to 50 Employees,Company - Private,#N/A,#N/A,#N/A,Unknown / Non-Applicable,145600.0
3,kairos technologies,Data Engineer,"Boston, MA",Job Title: Data Engineer with AWS Hybrid\nLo...,51 to 200 Employees,Company - Private,Information Technology,Information Technology Support Services,2003,$5 to $25 million (USD),133120.0
4,Konnectingtree,Data Engineer,Remote,Greetings from KonnectingTree!\nWe are looking...,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,98800.0
5,Edmunds.com,Data Engineer,"Santa Monica, CA",Edmunds offers flexibility to work fully remot...,201 to 500 Employees,Company - Private,Information Technology,Internet & Web Services,1966,$100 to $500 million (USD),150000.0
6,Kanini Software Solutions,Data Engineer,Remote,About Kanini\nKanini provides Agile Software D...,501 to 1000 Employees,Company - Private,Information Technology,Enterprise Software & Network Solutions,2003,$5 to $25 million (USD),140400.0
7,Gridiron IT,Data Engineer,"Washington, DC","Seeking a Data Engineer local to Washington, D...",51 to 200 Employees,Company - Private,Information Technology,Information Technology Support Services,2017,Unknown / Non-Applicable,145600.0
8,STAND 8,DATA ENGINEER,Remote,STAND 8 is a global leader providing end-to-en...,1 to 50 Employees,Company - Private,#N/A,#N/A,#N/A,Less than $1 million (USD),135200.0
9,Radiant Systems Inc,Azure Data Engineer,"Milwaukee, WI",Azure Synapse (no data bricks please)\nSome Da...,201 to 500 Employees,Company - Private,Information Technology,Information Technology Support Services,1995,$25 to $50 million (USD),93500.0

In [ ]:
dados\
    .select('salary_avg')\
    .groupBy('salary_avg')\
    .count()\
    .sort(desc('count'))\
    .show(5)

+----------+-----+
|salary_avg|count|
+----------+-----+
|  150000.0|   52|
|  145600.0|   30|
|  135200.0|   21|
|   95000.0|   19|
|   92500.0|   15|
+----------+-----+
only showing top 5 rows

### An치lise de `'location'`

In [ ]:
dados\
    .select('location')\
    .groupBy('location')\
    .count()\
    .sort(desc('count'))\
    .show(100)

+--------------------+-----+
|            location|count|
+--------------------+-----+
|              Remote|   67|
|        Columbus, OH|   26|
|          Dallas, TX|   26|
|        Richmond, VA|   16|
|            Lehi, UT|   16|
|        New York, NY|   13|
|      Washington, DC|   12|
|          Edison, NJ|   12|
|          Boston, MA|   12|
|    Independence, KS|   11|
|   San Francisco, CA|   11|
|     Los Angeles, CA|   11|
|    Florham Park, NJ|   11|
|       Beaverton, OR|   11|
|     Springfield, VA|   11|
|      Chelmsford, MA|   10|
|        O Fallon, MO|    9|
|        Bethesda, MD|    9|
|       Princeton, NJ|    7|
|         Norfolk, VA|    7|
|      Louisville, KY|    7|
|          Newark, NJ|    7|
|  Pleasant Grove, UT|    6|
|    Mount Laurel, NJ|    6|
|      Alexandria, VA|    5|
|      Alpharetta, GA|    5|
|         Seattle, WA|    5|
|         Phoenix, AZ|    4|
|    Philadelphia, PA|    4|
|         Hanover, NJ|    3|
|         Houston, TX|    3|
|        Lakeland, FL|    2|
|South San Francis...|    2|
|      Eau Claire, WI|    2|
|           Plano, TX|    2|
|        Honolulu, HI|    2|
|          Austin, TX|    2|
|       Milwaukee, WI|    2|
|     Jersey City, NJ|    2|
|         Chicago, IL|    2|
|     Bentonville, AR|    1|
|       Nashville, TN|    1|
|           Akron, OH|    1|
|    Santa Monica, CA|    1|
|        San Jose, CA|    1|
|         Redmond, WA|    1|
|            Cary, NC|    1|
|        Brooklyn, NY|    1|
|    Auburn Hills, MI|    1|
|      Pittsburgh, PA|    1|
|      Smithfield, RI|    1|
|     Chattanooga, TN|    1|
|         Cypress, CA|    1|
|         Herndon, VA|    1|
|   Mountain View, CA|    1|
|       Lake Mary, FL|    1|
|       Arlington, VA|    1|
|          Irvine, CA|    1|
|           Miami, FL|    1|
|      Broomfield, CO|    1|
|          Albany, NY|    1|
|       Cambridge, MA|    1|
+--------------------+-----+

Nada a fazer.

### An치lise de `'company_size'`:

In [ ]:
dados\
    .select('company_size')\
    .groupBy('company_size')\
    .count()\
    .sort(desc('count'))\
    .show(100)

+--------------------+-----+
|        company_size|count|
+--------------------+-----+
|   1 to 50 Employees|  126|
| 51 to 200 Employees|   96|
|201 to 500 Employees|   62|
|                #N/A|   37|
|1001 to 5000 Empl...|   29|
|    10000+ Employees|   15|
|501 to 1000 Emplo...|   15|
|5001 to 10000 Emp...|   12|
|             Unknown|   11|
+--------------------+-----+

In [ ]:
dados = dados\
    .withColumn('company_size', when(dados['company_size'] == 'Unknown', '#N/A')\
                .otherwise(dados['company_size']))

In [ ]:
dados\
    .select('company_size')\
    .groupBy('company_size')\
    .count()\
    .sort(desc('count'))\
    .show(100)

+--------------------+-----+
|        company_size|count|
+--------------------+-----+
|   1 to 50 Employees|  126|
| 51 to 200 Employees|   96|
|201 to 500 Employees|   62|
|                #N/A|   48|
|1001 to 5000 Empl...|   29|
|    10000+ Employees|   15|
|501 to 1000 Emplo...|   15|
|5001 to 10000 Emp...|   12|
+--------------------+-----+

### An치lise de `'company_type'`:

In [ ]:
dados\
    .select('company_type')\
    .groupBy('company_type')\
    .count()\
    .sort(desc('count'))\
    .show(truncate=False)

+------------------------------+-----+
|company_type                  |count|
+------------------------------+-----+
|Company - Private             |281  |
|Company - Public              |69   |
|#N/A                          |37   |
|Subsidiary or Business Segment|10   |
|Private Practice / Firm       |4    |
|Contract                      |1    |
|Non-profit Organisation       |1    |
+------------------------------+-----+

### An치lise de `'company_sector'`:

In [ ]:
dados\
    .select('company_sector')\
    .groupBy('company_sector')\
    .count()\
    .sort(desc('count'))\
    .show(truncate=False)

+------------------------------+-----+
|company_sector                |count|
+------------------------------+-----+
|Information Technology        |205  |
|#N/A                          |112  |
|Finance                       |18   |
|Human Resources & Staffing    |16   |
|Transportation & Logistics    |13   |
|Management & Consulting       |13   |
|Retail & Wholesale            |9    |
|Healthcare                    |7    |
|Pharmaceutical & Biotechnology|3    |
|Manufacturing                 |3    |
|Insurance                     |2    |
|Legal                         |1    |
|Media & Communication         |1    |
+------------------------------+-----+

In [ ]:
dados.limit(3).toPandas()

,company,job_title,location,job_description,company_size,company_type,company_sector,company_industry,company_founded,company_revenue,salary_avg
0,DataPattern,Sr. Data Engineer,"Los Angeles, CA",Responsibilities\n餃 Contribute to the design a...,1 to 50 Employees,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,145600.0
1,YT Global Network,Data Engineer- Remote,Remote,Data Engineer- Remote\nRole: Data and Analytic...,#N/A,Company - Public,#N/A,#N/A,#N/A,Unknown / Non-Applicable,218400.0
2,Wevision LLC,Data Engineer,"Irvine, CA","Job description\nWe build services, data platf...",1 to 50 Employees,Company - Private,#N/A,#N/A,#N/A,Unknown / Non-Applicable,145600.0

### An치lise de `'company_industry'`:

In [ ]:
dados\
    .select('company_industry')\
    .groupBy('company_industry')\
    .count()\
    .sort(desc('count'))\
    .show(truncate=False)

+---------------------------------------+-----+
|company_industry                       |count|
+---------------------------------------+-----+
|Information Technology Support Services|129  |
|#N/A                                   |112  |
|Computer Hardware Development          |29   |
|Software Development                   |22   |
|Enterprise Software & Network Solutions|21   |
|Investment & Asset Management          |14   |
|Business Consulting                    |13   |
|Shipping & Trucking                    |12   |
|Staffing, Recruitment & Subcontracting |11   |
|Healthcare Services & Hospitals        |7    |
|Automotive Parts & Accessories Stores  |6    |
|HR Consulting                          |5    |
|Internet & Web Services                |4    |
|Biotech & Pharmaceuticals              |3    |
|Grocery Stores                         |2    |
|Banking & Lending                      |2    |
|Accounting & Tax                       |2    |
|Machinery Manufacturing                |2    |
|Broadcast Media                        |1    |
|Insurance Carriers                     |1    |
+---------------------------------------+-----+
only showing top 20 rows

### Dados faltantes

[Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql.html#functions)

In [ ]:
import pyspark.sql.functions as f

In [ ]:
dados\
    .select([f.count(f.when(f.isnan(c) | f.isnull(c), True)).alias(c) for c in dados.columns])\
    .show()

+-------+---------+--------+---------------+------------+------------+--------------+----------------+---------------+---------------+----------+
|company|job_title|location|job_description|company_size|company_type|company_sector|company_industry|company_founded|company_revenue|salary_avg|
+-------+---------+--------+---------------+------------+------------+--------------+----------------+---------------+---------------+----------+
|      0|        0|       0|              0|           0|           0|             0|               0|              0|              0|         0|
+-------+---------+--------+---------------+------------+------------+--------------+----------------+---------------+---------------+----------+

## Gerando uma nova feature: `senioridade`

Realiza-se uma varredura pelas colunas `'job_title'` e `'job_description'` para verificar a exist칡ncia de men칞칫es  senioridade da vaga:

In [ ]:
from functools import reduce

In [ ]:
sr_exp_title = reduce(lambda a, b: a | b, [
    dados['job_title'].rlike("(?i)sr"),
    dados['job_title'].rlike("(?i)senior"),
    dados['job_title'].rlike("(?i)lead"),
    dados['job_title'].rlike("(?i)principal"),
    dados['job_title'].rlike("(?i)manager")
])

jr_exp_title = reduce(lambda a, b: a | b, [
    dados['job_title'].rlike("(?i)jr"),
    dados['job_title'].rlike("(?i)junior"),
    dados['job_title'].rlike("(?i)entry"),
    dados['job_title'].rlike("(?i)associate"),
    dados['job_title'].rlike("(?i)intern")
])

sr_exp_desc = reduce(lambda a, b: a | b, [
    dados['job_description'].rlike("(?i)sr"),
    dados['job_description'].rlike("(?i)senior"),
    dados['job_description'].rlike("(?i)lead"),
    dados['job_description'].rlike("(?i)principal"),
    dados['job_description'].rlike("(?i)manager")
])


jr_exp_desc = reduce(lambda a, b: a | b, [
    dados['job_description'].rlike("(?i)jr"),
    dados['job_description'].rlike("(?i)junior"),
    dados['job_description'].rlike("(?i)entry"),
    dados['job_description'].rlike("(?i)associate"),
    dados['job_description'].rlike("(?i)intern")
])

In [ ]:
dados = dados\
    .withColumn('seniority_by_title', when(sr_exp_title, 'Senior').when(jr_exp_title, 'Junior').otherwise(None))\
    .withColumn('seniority_by_desc', when(sr_exp_desc, 'Senior').when(jr_exp_desc, 'Junior').otherwise(None))

In [ ]:
dados\
    .select('seniority_by_title')\
    .groupBy('seniority_by_title')\
    .count()\
    .sort(desc('count'))\
    .show(truncate=False)

dados\
    .select('seniority_by_desc')\
    .groupBy('seniority_by_desc')\
    .count()\
    .sort(desc('count'))\
    .show(truncate=False)

+------------------+-----+
|seniority_by_title|count|
+------------------+-----+
|null              |241  |
|Senior            |158  |
|Junior            |4    |
+------------------+-----+

+-----------------+-----+
|seniority_by_desc|count|
+-----------------+-----+
|Senior           |248  |
|null             |136  |
|Junior           |19   |
+-----------------+-----+

**Regras para escolher a informa칞칚o de senioridade:**

1. Prioriza-se as atribui칞칫es da descri칞칚o dada pelo *t칤tulo da vaga* por serem expl칤citas
2. Quando as senioridades s칚o iguais nas duas colunas, mant칠m-se-a
3. Quando a senioridade no t칤tulo 칠 nula e da descri칞칚o n칚o, aproveita-se a serionidade capturada na descri칞칚o
4. os demais casos s칚o considerados vagas plenas (Mid-level)

In [ ]:
dados = dados\
    .withColumn(
        'seniority',
        when(dados['seniority_by_title'].isNotNull(), dados['seniority_by_title'])\
        .when(dados['seniority_by_title'] == dados['seniority_by_desc'], dados['seniority_by_title'])\
        .when(dados['seniority_by_title'].isNull() & dados['seniority_by_desc'].isNotNull(), dados['seniority_by_desc'])\
        .otherwise('Mid'))

In [ ]:
dados\
    .select('seniority')\
    .groupBy('seniority')\
    .count()\
    .orderBy(desc('count'))\
    .show()

+---------+-----+
|seniority|count|
+---------+-----+
|   Senior|  276|
|      Mid|  106|
|   Junior|   21|
+---------+-----+

## Gerando uma nova feature: `skills`

Listei algumas ferramentas de Engenharia de Dados muito requisitadas pelo mercado e agreguei a ocorr칡ncia delas em `'job_description'` na coluna `'skills'` atrav칠s de uma lista:

In [ ]:
tools = ['AWS',    'GCP',    'Azure',    'Snowflake',    'Databricks',    'Airflow',    'NiFi',    'Talend',    'StreamSets',    'AWS Glue',    'Python',    'SQL',    'Java',    'Scala',    'Bash',    'Spark',    'Hadoop',    'Flink',    'Kafka',    'Presto',    'PostgreSQL',    'MySQL',    'Oracle',    'MongoDB',    'Cassandra',    'Git',    'Jupyter Notebook',    'Tableau',    'Grafana',    'TensorFlow']

tools = [tool.lower() for tool in tools]

In [ ]:
from pyspark.sql.functions import array, lower

In [ ]:
dados\
    .withColumn('skills', array(*[when(lower(dados['job_description']).contains(tool), 1).otherwise(0) for tool in tools]))\
    .show(5)

+-------------------+--------------------+---------------+--------------------+-------------------+-----------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+
|            company|           job_title|       location|     job_description|       company_size|     company_type|      company_sector|    company_industry|company_founded|     company_revenue|salary_avg|seniority_by_title|seniority_by_desc|seniority|              skills|
+-------------------+--------------------+---------------+--------------------+-------------------+-----------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+
|        DataPattern|   Sr. Data Engineer|Los Angeles, CA|Responsibilities
...|  1 to 50 Employees| Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  145600.0|            Senior|           Senior|   Senior|[1, 0, 0, 1, 0, 1...|
|  YT Global Network|Data Engineer- Re...|         Remote|Data Engineer- Re...|               #N/A| Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  218400.0|              null|           Junior|   Junior|[1, 0, 0, 1, 0, 0...|
|       Wevision LLC|       Data Engineer|     Irvine, CA|Job description
W...|  1 to 50 Employees|Company - Private|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  145600.0|              null|           Senior|   Senior|[1, 0, 0, 0, 0, 1...|
|kairos technologies|       Data Engineer|     Boston, MA|Job Title: Data E...|51 to 200 Employees|Company - Private|Information Techn...|Information Techn...|           2003|$5 to $25 million...|  133120.0|              null|             null|      Mid|[1, 0, 0, 0, 0, 0...|
|     Konnectingtree|       Data Engineer|         Remote|Greetings from Ko...|  1 to 50 Employees| Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|   98800.0|              null|             null|      Mid|[1, 0, 0, 0, 0, 0...|
+-------------------+--------------------+---------------+--------------------+-------------------+-----------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+
only showing top 5 rows

In [ ]:
dados = dados\
    .withColumn('skills', array(*[when(lower(dados['job_description']).contains(tool), 1).otherwise(0) for tool in tools]))

## Gerando uma nova feature: `work_mode`

Busca para saber se existe a possibilidade de trabalho remoto:

In [ ]:
remote_exp = ['Telecommute',    'Remote',    'Virtual office',    'Teleworking',    'Work from home', 'Distributed team', 'Off site']
onsite_exp = ['On-site',    'In-person',    'Office based',    'Desk job',    'Workplace-based', 'Location-based']

remote_exp = [r.lower().replace('-',' ') for r in remote_exp]
onsite_exp = [o.lower().replace('-',' ') for o in onsite_exp]

In [ ]:
dados\
    .withColumn('remote0', array(*[when(lower(dados['job_description']).contains(r), 1).otherwise(0) for r in remote_exp]))\
    .withColumn('onsite0', array(*[when(lower(dados['job_description']).contains(o), 1).otherwise(0) for o in onsite_exp]))\
    .show(5)

+-------------------+--------------------+---------------+--------------------+-------------------+-----------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+--------------------+------------------+
|            company|           job_title|       location|     job_description|       company_size|     company_type|      company_sector|    company_industry|company_founded|     company_revenue|salary_avg|seniority_by_title|seniority_by_desc|seniority|              skills|             remote0|           onsite0|
+-------------------+--------------------+---------------+--------------------+-------------------+-----------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+--------------------+------------------+
|        DataPattern|   Sr. Data Engineer|Los Angeles, CA|Responsibilities
...|  1 to 50 Employees| Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  145600.0|            Senior|           Senior|   Senior|[1, 0, 0, 1, 0, 1...|[0, 0, 0, 0, 0, 0...|[0, 0, 0, 0, 0, 0]|
|  YT Global Network|Data Engineer- Re...|         Remote|Data Engineer- Re...|               #N/A| Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  218400.0|              null|           Junior|   Junior|[1, 0, 0, 1, 0, 0...|[0, 1, 0, 0, 0, 0...|[0, 0, 0, 0, 0, 0]|
|       Wevision LLC|       Data Engineer|     Irvine, CA|Job description
W...|  1 to 50 Employees|Company - Private|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  145600.0|              null|           Senior|   Senior|[1, 0, 0, 0, 0, 1...|[0, 1, 0, 0, 0, 0...|[0, 0, 0, 0, 0, 0]|
|kairos technologies|       Data Engineer|     Boston, MA|Job Title: Data E...|51 to 200 Employees|Company - Private|Information Techn...|Information Techn...|           2003|$5 to $25 million...|  133120.0|              null|             null|      Mid|[1, 0, 0, 0, 0, 0...|[0, 0, 0, 0, 0, 0...|[0, 0, 0, 0, 0, 0]|
|     Konnectingtree|       Data Engineer|         Remote|Greetings from Ko...|  1 to 50 Employees| Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|   98800.0|              null|             null|      Mid|[1, 0, 0, 0, 0, 0...|[0, 1, 0, 0, 0, 0...|[0, 0, 0, 0, 0, 0]|
+-------------------+--------------------+---------------+--------------------+-------------------+-----------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+--------------------+------------------+
only showing top 5 rows

In [ ]:
dados = dados\
    .withColumn('remote0', array(*[when(lower(dados['job_description']).contains(r), 1).otherwise(0) for r in remote_exp]))\
    .withColumn('onsite0', array(*[when(lower(dados['job_description']).contains(o), 1).otherwise(0) for o in onsite_exp]))

In [ ]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

def bin_reduce(mode_list):
    return reduce(lambda a, b: a|b, mode_list)

bin_reduce_udf = udf(bin_reduce, IntegerType())

In [ ]:
dados\
    .withColumn('remote0', bin_reduce_udf(dados['remote0']))\
    .withColumn('onsite0', bin_reduce_udf(dados['onsite0']))\
    .show(5)

+-------------------+--------------------+---------------+--------------------+-------------------+-----------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+-------+-------+
|            company|           job_title|       location|     job_description|       company_size|     company_type|      company_sector|    company_industry|company_founded|     company_revenue|salary_avg|seniority_by_title|seniority_by_desc|seniority|              skills|remote0|onsite0|
+-------------------+--------------------+---------------+--------------------+-------------------+-----------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+-------+-------+
|        DataPattern|   Sr. Data Engineer|Los Angeles, CA|Responsibilities
...|  1 to 50 Employees| Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  145600.0|            Senior|           Senior|   Senior|[1, 0, 0, 1, 0, 1...|      0|      0|
|  YT Global Network|Data Engineer- Re...|         Remote|Data Engineer- Re...|               #N/A| Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  218400.0|              null|           Junior|   Junior|[1, 0, 0, 1, 0, 0...|      1|      0|
|       Wevision LLC|       Data Engineer|     Irvine, CA|Job description
W...|  1 to 50 Employees|Company - Private|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  145600.0|              null|           Senior|   Senior|[1, 0, 0, 0, 0, 1...|      1|      0|
|kairos technologies|       Data Engineer|     Boston, MA|Job Title: Data E...|51 to 200 Employees|Company - Private|Information Techn...|Information Techn...|           2003|$5 to $25 million...|  133120.0|              null|             null|      Mid|[1, 0, 0, 0, 0, 0...|      0|      0|
|     Konnectingtree|       Data Engineer|         Remote|Greetings from Ko...|  1 to 50 Employees| Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|   98800.0|              null|             null|      Mid|[1, 0, 0, 0, 0, 0...|      1|      0|
+-------------------+--------------------+---------------+--------------------+-------------------+-----------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+-------+-------+
only showing top 5 rows

In [ ]:
dados = dados\
    .withColumn('remote0', bin_reduce_udf(dados['remote0']))\
    .withColumn('onsite0', bin_reduce_udf(dados['onsite0']))

In [ ]:
dados\
    .withColumn('remote', when(dados['location'] == 'Remote', 1).otherwise(dados['remote0']))\
    .withColumn('onsite', when(dados['location'] == 'Remote', 0).otherwise(dados['onsite0']))\
    .show(5)

+-------------------+--------------------+---------------+--------------------+-------------------+-----------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+-------+-------+------+------+
|            company|           job_title|       location|     job_description|       company_size|     company_type|      company_sector|    company_industry|company_founded|     company_revenue|salary_avg|seniority_by_title|seniority_by_desc|seniority|              skills|remote0|onsite0|remote|onsite|
+-------------------+--------------------+---------------+--------------------+-------------------+-----------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+-------+-------+------+------+
|        DataPattern|   Sr. Data Engineer|Los Angeles, CA|Responsibilities
...|  1 to 50 Employees| Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  145600.0|            Senior|           Senior|   Senior|[1, 0, 0, 1, 0, 1...|      0|      0|     0|     0|
|  YT Global Network|Data Engineer- Re...|         Remote|Data Engineer- Re...|               #N/A| Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  218400.0|              null|           Junior|   Junior|[1, 0, 0, 1, 0, 0...|      1|      0|     1|     0|
|       Wevision LLC|       Data Engineer|     Irvine, CA|Job description
W...|  1 to 50 Employees|Company - Private|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  145600.0|              null|           Senior|   Senior|[1, 0, 0, 0, 0, 1...|      1|      0|     1|     0|
|kairos technologies|       Data Engineer|     Boston, MA|Job Title: Data E...|51 to 200 Employees|Company - Private|Information Techn...|Information Techn...|           2003|$5 to $25 million...|  133120.0|              null|             null|      Mid|[1, 0, 0, 0, 0, 0...|      0|      0|     0|     0|
|     Konnectingtree|       Data Engineer|         Remote|Greetings from Ko...|  1 to 50 Employees| Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|   98800.0|              null|             null|      Mid|[1, 0, 0, 0, 0, 0...|      1|      0|     1|     0|
+-------------------+--------------------+---------------+--------------------+-------------------+-----------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+-------+-------+------+------+
only showing top 5 rows

Tratativa para apenas remoto:

In [ ]:
dados = dados\
    .withColumn('remote', when(dados['location'] == 'Remote', 1).otherwise(dados['remote0']))\
    .withColumn('onsite', when(dados['location'] == 'Remote', 0).otherwise(dados['onsite0']))\
    .drop('remote0')\
    .drop('onsite0')

In [ ]:
dados.show()

+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+------+------+
|             company|           job_title|        location|     job_description|        company_size|        company_type|      company_sector|    company_industry|company_founded|     company_revenue|salary_avg|seniority_by_title|seniority_by_desc|seniority|              skills|remote|onsite|
+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+------+------+
|         DataPattern|   Sr. Data Engineer| Los Angeles, CA|Responsibilities
...|   1 to 50 Employees|    Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  145600.0|            Senior|           Senior|   Senior|[1, 0, 0, 1, 0, 1...|     0|     0|
|   YT Global Network|Data Engineer- Re...|          Remote|Data Engineer- Re...|                #N/A|    Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  218400.0|              null|           Junior|   Junior|[1, 0, 0, 1, 0, 0...|     1|     0|
|        Wevision LLC|       Data Engineer|      Irvine, CA|Job description
W...|   1 to 50 Employees|   Company - Private|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  145600.0|              null|           Senior|   Senior|[1, 0, 0, 0, 0, 1...|     1|     0|
| kairos technologies|       Data Engineer|      Boston, MA|Job Title: Data E...| 51 to 200 Employees|   Company - Private|Information Techn...|Information Techn...|           2003|$5 to $25 million...|  133120.0|              null|             null|      Mid|[1, 0, 0, 0, 0, 0...|     0|     0|
|      Konnectingtree|       Data Engineer|          Remote|Greetings from Ko...|   1 to 50 Employees|    Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|   98800.0|              null|             null|      Mid|[1, 0, 0, 0, 0, 0...|     1|     0|
|         Edmunds.com|       Data Engineer|Santa Monica, CA|Edmunds offers fl...|201 to 500 Employees|   Company - Private|Information Techn...|Internet & Web Se...|           1966|$100 to $500 mill...|  150000.0|              null|           Senior|   Senior|[1, 0, 0, 0, 1, 0...|     1|     0|
|Kanini Software S...|       Data Engineer|          Remote|About Kanini
Kani...|501 to 1000 Emplo...|   Company - Private|Information Techn...|Enterprise Softwa...|           2003|$5 to $25 million...|  140400.0|              null|           Senior|   Senior|[1, 1, 1, 0, 0, 0...|     1|     0|
|         Gridiron IT|       Data Engineer|  Washington, DC|Seeking a Data En...| 51 to 200 Employees|   Company - Private|Information Techn...|Information Techn...|           2017|Unknown / Non-App...|  145600.0|              null|             null|      Mid|[1, 0, 0, 0, 0, 0...|     0|     1|
|             STAND 8|       DATA ENGINEER|          Remote|STAND 8 is a glob...|   1 to 50 Employees|   Company - Private|                #N/A|                #N/A|           #N/A|Less than $1 mill...|  135200.0|              null|           Senior|   Senior|[1, 0, 0, 0, 0, 0...|     1|     0|
| Radiant Systems Inc| Azure Data Engineer|   Milwaukee, WI|Azure Synapse (no...|201 to 500 Employees|   Company - Private|Information Techn...|Information Techn...|           1995|$25 to $50 millio...|   93500.0|              null|             null|      Mid|[0, 0, 1, 0, 0, 0...|     1|     0|
|  Freemind solutions|Big Data Engineer...|          Remote|Required Skillset...|   1 to 50 Employees|    Company - Public|                #N/A|                #N/A|           #N/A|Unknown / Non-App...|  130000.0|              null|           Junior|   Junior|[1, 0, 1, 0, 1, 0...|     1|     0|
|       Glow Networks|       Data Engineer|      Dallas, TX|Data Engineer
Pay...| 51 to 200 Employees|Subsidiary or Bus...|Information Techn...|Information Techn...|           2003|$5 to $25 million...|  151840.0|              null|           Senior|   Senior|[1, 0, 0, 1, 1, 1...|     0|     0|
|Kenco Management ...|       Data Engineer| Chattanooga, TN|About the Positio...|1001 to 5000 Empl...|   Company - Private|Transportation & ...| Shipping & Trucking|           1950|$500 million to $...|   87500.0|              null|           Senior|   Senior|[1, 0, 0, 1, 0, 0...|     1|     0|
|         ERPMark Inc|Data Engineer (Sc...| Bentonville, AR|Title: Scala Engi...|   1 to 50 Employees|   Company - Private|Management & Cons...| Business Consulting|           #N/A|Less than $1 mill...|  130000.0|              null|           Senior|   Senior|[0, 1, 0, 0, 0, 1...|     0|     1|
|              TikTok|Data Engineer, E-...|    San Jose, CA|Responsibilities
...|    10000+ Employees|   Company - Private|Information Techn...|Internet & Web Se...|           2016|Unknown / Non-App...|  200000.0|              null|           Senior|   Senior|[0, 0, 0, 0, 0, 0...|     0|     0|
|           BlueOcean|       Data Engineer|          Remote|BlueOcean is a di...|                #N/A|                #N/A|                #N/A|                #N/A|           #N/A|                #N/A|  150000.0|              null|           Senior|   Senior|[1, 0, 0, 0, 0, 1...|     1|     0|
|Zoll Medical Corp...|       Data Engineer|  Broomfield, CO|Data
Who We Are: ...|1001 to 5000 Empl...|   Company - Private|       Manufacturing|Health Care Produ...|           1980|$100 to $500 mill...|  100000.0|              null|           Senior|   Senior|[1, 0, 0, 0, 0, 1...|     1|     0|
|     Robert W. Baird|Data & Analytics ...|   Milwaukee, WI|As we continue to...|1001 to 5000 Empl...|   Company - Private|             Finance|Investment & Asse...|           1919|$2 to $5 billion ...|   92000.0|              null|           Senior|   Senior|[0, 0, 0, 0, 0, 0...|     1|     0|
|               Jetty|       Data Engineer|    New York, NY|Welcome to Jetty,...| 51 to 200 Employees|   Company - Private|           Insurance|Insurance Agencie...|           2015|Unknown / Non-App...|   98500.0|              null|           Senior|   Senior|[1, 0, 0, 1, 0, 0...|     1|     0|
|   DevCare Solutions|       Data Engineer|    Columbus, OH|Identifies data s...| 51 to 200 Employees|   Company - Private|Information Techn...|Information Techn...|           2005|Unknown / Non-App...|  124800.0|              null|             null|      Mid|[0, 0, 0, 0, 0, 0...|     1|     0|
+--------------------+--------------------+----------------+--------------------+--------------------+--------------------+--------------------+--------------------+---------------+--------------------+----------+------------------+-----------------+---------+--------------------+------+------+
only showing top 20 rows

## Disponibiliza칞칚o do dataset em parquet

In [ ]:
dados.write.mode('overwrite').parquet('/content/previsao_remuneracao/tratamento/dados_parquet')

In [ ]:
!pwd

/content

In [ ]:
!ls

previsao_remuneracao  spark-3.1.2-bin-hadoop2.7
sample_data	      spark-3.1.2-bin-hadoop2.7.tgz

In [ ]:
%cd /content/previsao_remuneracao/

/content/previsao_remuneracao

In [ ]:
!pwd

/content/previsao_remuneracao

In [ ]:
!ls

airflow_script	  notebook_scrapping  tratamento
machine_learning  README.md	      venv

In [ ]:
!git status

On branch master
Your branch is up to date with 'origin/master'.

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
	new file:   tratamento/dados_parquet/._SUCCESS.crc
	new file:   tratamento/dados_parquet/.part-00000-c7d82ceb-8664-42d7-8fcf-3bbd78e4bd7c-c000.snappy.parquet.crc
	new file:   tratamento/dados_parquet/_SUCCESS
	new file:   tratamento/dados_parquet/part-00000-c7d82ceb-8664-42d7-8fcf-3bbd78e4bd7c-c000.snappy.parquet

In [ ]:
!git add .

In [ ]:
!git commit -m "disponibilizacao do dataset para ml em parquet 1"

On branch master
Your branch is ahead of 'origin/master' by 1 commit.
  (use "git push" to publish your local commits)

nothing to commit, working tree clean

In [ ]:
!git push https://edinaldoab:<token>/edinaldoab/previsao_remuneracao

Everything up-to-date